body { 
    background-color: white;
}

h1 {

    font-size: 30px;
    color:#007e7e ;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
h2 {

    font-size: 20px;
    color:#007e7e ;
}
h3 {

    font-size: 20px;
    color:black ;
    border: 5px;
}

p {
font-size: 15px;
color:black

}

div {
font-family: Georgia, "Times New Roman", serif;
color: #444;

}

#garantie {

    background-color: #a7cece;
    background-image: url(bilder/hintergrund.gif);
    background-repeat: no-repeat;
    margin: 10px;
    padding: 15px;
    border: 1px dashed; color: white;
    color: black;
    text-align: center;
    text-decoration: ;
    font-style: italic;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 50px;
}